.breadcrumbs {
	background-color: $gray;
	padding: 16px 0;
	&_i {
		@extend .wrap;
	}
	ul {
		list-style: none;
		@include clearfix;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		display: flex;
		justify-content: flex-start;
		flex-direction: row;
		@include respond-to(mobile) {
			display: block;
			white-space: normal;
			text-overflow: clip;
			overflow: visible;
		}

		li {
			display: inline-block;
			font-size: 16px;
			line-height: 18px;
			//padding-right: 19px;
			position: relative;

			@include respond-to(mobile) {
				padding-bottom: 5px;
				float: left;
			}
			&:after {
				content: "›";
				position: relative;
				display: inline-block;
				color: $black;
				width: 19px;
				text-align: center;
				line-height: 21px;
			}
			&:last-child {
				&:after {
					display: none;
				}
			}
			&:last-child {
				padding-right: 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				@include respond-to(mobile) {
					white-space: normal;
					text-overflow: clip;
					overflow: visible;
				}
			}
			a {
				color: $blue;
				position: relative;
				border-bottom: 1px solid $blue;
				display: inline-block;
				line-height: 21px;
				@include transition(border-color .2s ease 0s);

				&:hover {
					border-color: transparent;
				}

			}
			span {
				color: $black;
				line-height: 21px;
			}

		}
	}
}
