.content-box {
	padding-top: 84px;
	@include respond-to(break-1023) {
		padding-top: 40px;
	}
	@include respond-to(mobile) {
		padding-top: 40px;
	}
	&_i {
		@extend .wrap;
		@include clearfix;
	}
	&.home {
		padding-top: 0;
		.content {
			width: 100%;
			float: none;
			padding-top: 0;
			@include respond-to(tablet) {
				width: 100%;
			}
		}
		.content-box_i {
			padding: 0;
			max-width: 100%;
			margin: 0;
		}
	}
	&.honour {
		padding-top: 0;
		.content {
			width: 100%;
			float: none;
			padding-top: 0;
			@include respond-to(tablet) {
				width: 100%;
			}
		}
		.content-box_i {
			padding: 0;
			max-width: 100%;
			margin: 0;
		}
	}
}

.content {
	float: left;
	width: 68%;
	padding-top: 11px;
	@include respond-to(tablet) {
		width: 60%;
	}
	@include respond-to(break-1023) {
		width: auto;
		float: none;
		padding-top: 0;
	}
	@include respond-to(mobile) {
		width: auto;
		float: none;
		padding-top: 0;
	}
}

.share-box {
	padding: 40px 0;
	&_i {
		padding: 14px 0 25px;
		border-top: 2px solid #EBECEE;
		border-bottom: 2px solid #EBECEE;
		@include respond-to(mobile) {
			padding-bottom: 10px;
		}
	}
	p {
		font-family: $fontVicB;
		font-size: 16px;
		line-height: 20px;
		color: $black;
		text-transform: uppercase;
		padding-bottom: 10px;
	}
	ul {
		padding: 0;
		li {
			font-size: 0;
			line-height: 0;
			padding: 0;
			padding-right: 12px;
			@include respond-to(mobile) {
				padding-bottom: 15px;
			}
			&:last-child {
				padding-right: 0;
			}
			&:before {
				display: none;
			}
		}
	}
	&__list {
		list-style: none;
		@include clearfix;
		li {
			float: left;
			padding-right: 12px;
			@include respond-to(mobile) {
				padding-bottom: 15px;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.btn-share {
			display: block;
			height: 33px;
			font-size: 16px;
			line-height: 33px;
			color: #fff;
			text-decoration: none;
			padding: 0 10px;
			border-radius: 4px;
			&.btn-share-fb {
				background-color: $btn-fb;
			}
			&.btn-share-tw {
				background-color: $btn-tw;
			}
			&.btn-share-in {
				background-color: $btn-in;
				i {
					margin-top: -5px;
				}
			}
			&.btn-share-gp {
				background-color: $btn-gp;
			}
			span {
				display: inline-block;
				vertical-align: middle;
			}
			i {
				font-size: 20px;
				padding-right: 5px;
				vertical-align: middle;
			}
		}
	}
}

.back-to-top {
	padding: 40px 0;
}

.btn-back-to-top {
	font-family: $fontVicM;
	font-size: 18px;
	line-height: 30px;
	color: $blue;
	position: relative;
	text-decoration: none;
	transition: color .3s ease 0s, border-color .4s ease 0s;
	border-bottom: 1px solid $blue;

	&:hover {
		color: $black;
		border-bottom-color: transparent;
	}
}

.breakout {
	padding: 40px 0;
	@include respond-to(mobile) {
		padding: 20px 0;
	}
	&_i {
		padding: 53px 0 19px;
		background-color: $gray-bg;
		text-align: center;
	}
	p {
		font-family: $fontVicR;
		font-size: 24px;
		line-height: 28px;
		color: $blue;
		padding-bottom: 40px;
		@include respond-to(mobile) {
			font-size: 20px;
			line-height: 24px;
			padding-bottom: 25px;
		}
	}
}

.survey {
	padding: 40px 0;
	&_i {
		padding: 26px 23px;
		border: 2px solid $gray-bg;
		border-radius: 4px;
	}
	.title {
		font-family: $fontVicB;
		font-size: 18px;
		line-height: 22px;
		color: $black;
		padding-left: 4px;
		padding-bottom: 18px;
	}
	&__item {
		padding-bottom: 16px;
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 16px;
			line-height: 18px;
			color: #53565a;
			transition: all .3s;
			.survey-icon {
				margin-right: 8px;
			}
			&:hover {
				transform: translate(5px, 0);
			}
		}
		&.item-yes {
			a {
				&:hover {
					color: $color-yes;
				}
			}
		}
		&.item-somewhat {
			a {
				&:hover {
					color: $color-somewhat;
				}
			}
		}
		&.item-no {
			a {
				&:hover {
					color: $color-no;
				}
			}
		}
	}
}

.tabs {
	padding: 40px 0;
	&__nav {
		padding-bottom: 10px;
		ul {
			display: inline-block;
			padding: 0;
			list-style: none;
			border-bottom: 3px solid $gray-bg;
			@include clearfix;
			li {
				float: left;
				padding: 0;
				padding-left: 5px;
				font-size: 0;
				line-height: 0;
				&:first-child {
					padding-left: 0;
				}
				&:before{
					display: none;
				}
				a {
					display: block;
					height: 57px;
					font-family: $fontVicB;
					font-size: 20px;
					line-height: 24px;
					color: $black;
					text-align: center;
					text-decoration: none;
					padding: 15px 40px;
					box-sizing: border-box;
					border: 1px solid #d9d9d6;
					border-bottom: none;
					transition: all .3s;
					@include respond-to(mobile) {
						font-size: 16px;
						line-height: 18px;
						height: 40px;
						padding: 12px 15px;
					}
					&:hover {
						background-color: $gray-bg;
						border-color: transparent;
					}
				}
				&.active {
					a {
						background-color: $gray-bg;
						border-color: transparent;
						cursor: default;
					}
				}
			}
		}
	}
	&__content {
		.tab {
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

.device-table {
	display: none;
	margin: 40px 0;
	@include respond-to(mobile) {
		display: block;
	}

	p {
		padding-bottom: 15px;
	}

	.title {
		display: block;
		font-family: "vic_bold", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 28px;
		color: #202020;
		text-align: left;
		font-weight: normal;
		background-color: #edeef0;
		padding: 17px 10px 21px 20px;
		margin-bottom: 10px;

		P {
			font-family: "vic_bold", Helvetica, Arial, sans-serif;
			font-size: 16px;
			line-height: 28px;
			padding-bottom: 0;
		}
	}

	p {
		font-family: "vic_regular", Helvetica, Arial, sans-serif;
		padding-bottom: 0;
		font-size: 16px;
		line-height: 28px;
	}
}

.responsive-table {
	overflow-x: auto;
	margin: 40px 0;
	table {
		min-width: 600px;
	}
	@include respond-to(mobile) {
		display: none;
	}
	th {
		p {
			font-family: "vic_bold", Helvetica, Arial, sans-serif;
			padding-bottom: 0;
			font-size: 16px;
			line-height: 28px;
		}
	}
	td {
		p {
			font-family: "vic_regular", Helvetica, Arial, sans-serif;
			padding-bottom: 0;
			font-size: 16px;
			line-height: 28px;
		}
	}
}
