@font-face {
	font-family: 'vic_regular';
	src: url('#{$assets_url}/fonts/VIC-Regular.eot');
	src: url('#{$assets_url}/fonts/VIC-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/VIC-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'vic_bold';
	src: url('#{$assets_url}/fonts/VIC-Bold.eot');
	src: url('#{$assets_url}/fonts/VIC-Bold.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/VIC-Bold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'vic_semibold';
	src: url('#{$assets_url}/fonts/VIC-SemiBold.eot');
	src: url('#{$assets_url}/fonts/VIC-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/VIC-SemiBold.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'vic_medium';
	src: url('#{$assets_url}/fonts/VIC-Medium.eot');
	src: url('#{$assets_url}/fonts/VIC-Medium.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/VIC-Medium.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'vic_light';
	src: url('#{$assets_url}/fonts/VIC-Light.eot');
	src: url('#{$assets_url}/fonts/VIC-Light.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/VIC-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'kessel';
	src: url('#{$assets_url}/fonts/kessel.eot');
	src: url('#{$assets_url}/fonts/kessel.eot?#iefix') format('embedded-opentype'),
	url('#{$assets_url}/fonts/kessel.woff') format('woff'),
	url('#{$assets_url}/fonts/kessel.svg#custom_font') format('svg');
	font-weight: 400;
	font-style: normal;
}
