
.footer {
	&__site {
		// footer - main section (links)
		&__main {
			background-color: $black-menu;
			padding-bottom: 72px;
			@include respond-to(mobile) {
				padding-bottom: 30px;
			}
			&_i {
				@extend .wrap;
				overflow: hidden;
			}
			&__list {
				display: flex;
				justify-content: space-between;
				padding-top: 40px;
				margin: 0 -10px;
				@include respond-to(mobile) {
					display: block;
					padding-top: 20px;
					margin: 0;
				}
			}
			&__col {
				box-sizing: border-box;
				padding: 0 10px;
				@include respond-to(mobile) {
					padding: 0;
				}
				&:last-child {
					ul {
						@include respond-to(mobile) {
							padding-bottom: 0;
						}
					}
				}
				.title {
					font-family: $fontVicSm;
					font-size: 18px;
					line-height: 26px;
					color: #fff;
					padding-bottom: 15px;
					position: relative;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					@include respond-to(mobile) {
						padding: 10px 40px 10px 0;
						cursor: pointer;
					}
					&:after {
						content: "";
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 1px;
						background-color: #edeef0;
						opacity: .5;
					}
					i {
						display: none;
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translate(0, -50%);
						transition: transform .4s;
						@include respond-to(mobile) {
							display: block;
						}
					}
				}
				ul {
					list-style: none;
					padding-top: 18px;
					overflow: hidden;
					@include respond-to(mobile) {
						display: none;
						padding-bottom: 10px;
					}
					li {
						padding-bottom: 10px;
						a {
							display: inline-block;
							font-family: $fontVicR;
							font-size: 14px;
							line-height: 18px;
							color: #fff;
							position: relative;
							transition: opacity .4s ease 0s;

							&:hover {
								opacity: .7;
							}

						}
					}
				}
				&.opened-list {
					.title {
						i {
							transform: translate(0, -50%) rotate(180deg);
						}
					}
				}
			}
		}
		// footer - bottom section (copyright, site navigation)
		&__bot {
			padding: 15px 0;
			background-color: $black;
			&_i {
				@extend .wrap;
				@include clearfix;
			}
			.footer-nav {
				float: right;
				@include respond-to(break-1023) {
					float: none;
					text-align: center;
					padding-bottom: 5px;
				}
				@include respond-to(mobile) {
					float: none;
					width: 100%;
					margin: 0 auto;
					text-align: left;
					padding-bottom: 10px;
				}
				ul {
					list-style: none;
					@include clearfix;
					@include respond-to(break-1023) {
						display: inline-block;
					}
					@include respond-to(mobile) {
						width: 100%;
						-moz-column-count: 2;
						-moz-column-width: 145px;
						-moz-column-gap: 5px;
						-webkit-column-count: 2;
						-webkit-column-width: 145px;
						-webkit-column-gap: 5px;
						column-count: 2;
						column-width: 145px;
						column-gap: 5px;
					}

					li {
						float: left;
						padding-left: 11px;
						@include respond-to(mobile) {
							float: none;
							width: 150px;
							display: inline-table;
							padding: 0 0 7px;
						}
						&:first-child {
							padding-left: 0;
							@include respond-to(mobile) {
								padding: 0 0 7px;
							}
						}
						a {
							display: inline-block;
							font-family: $fontVicR;
							font-size: 13px;
							line-height: 22px;
							color: #fff;
							position: relative;
							transition: opacity .4s ease 0s;

							&:hover {
								opacity: .7;
							}

						}
					}
				}
			}
			.copy {
				float: left;
				@include respond-to(break-1023) {
					float: none;
					text-align: center;
				}
				@include respond-to(mobile) {
					float: none;
					text-align: left;
				}
				p {
					font-family: $fontVicR;
					font-size: 13px;
					line-height: 22px;
					color: #fff;
				}
			}
		}
	}
}

// footer social links section
.social-links {
	background: url('#{$assets_url}/images/general/pattern123x65.png');
	background-repeat: repeat;
	padding: 18px 0 16px;
	@include respond-to(mobile) {
		background: url('#{$assets_url}/images/general/pattern123x130.png');
	}
	&_i {
		@extend .wrap;
	}

	ul {
		list-style: none;
		@include clearfix;
		li {
			float: left;
			padding-right: 37px;
			@include respond-to(mobile) {
				float: none;
				padding-right: 0;
				padding-bottom: 20px;
			}

			&:last-child {
				padding-right: 0;
				@include respond-to(mobile) {
					padding-bottom: 0
				}
			}
			a {
				display: inline-block;
				font-size: 14px;
				line-height: 16px;
				color: #fff;
				position: relative;
				transition: opacity .4s ease 0s;

				&:hover {
					opacity: .7;
				}

				i {
					font-size: 16px;
					vertical-align: top;
					margin-right: 6px;
				}

			}

		}

	}
}


