
.header {
	// Global brand section
	&__top {
		background-color: $black;
		padding: 13px 0 10px;
		position: relative;
		z-index: 12;
		&_i {
			@extend .wrap;
			@include clearfix
		}
		.global-brand {
			display: block;
			float: left;
			font-family: $fontVicB;
			font-size: 26px;
			line-height: 30px;
			color: #fff;
			text-transform: uppercase;
			img {
				display: block;
			}
		}
	}
	// Main header section
	&__site {
		&_i {
			@extend .wrap;
		}
		&_ii {
			height: 100px;
			position: relative;
		}
	}
}

// Main header elements
.logo {
	position: absolute;
	left: 50%;
	top: 50%;
	backface-visibility: hidden;
	transform: translate(-50%, -43%);
	a {
		display: block;
		img {
			display: block;
		}
	}
}

.search {
	position: absolute;
	right: 0;
	top: 42%;
	transition: all .3s;
	@include respond-to(mobile) {
		//bottom: -50px;
		top: -110px;
		left: -10px;
		right: -10px;
		background: #fff;
		height: 53px;
		z-index: 50;
	}
	form {
		position: relative;
		height: 100%;
	}
	input {
		display: inline-block;
		vertical-align: middle;
		border: none;
		outline: none;
		&.search-field {
			transition: box-shadow .4s ease 0s;
			width: 120px;
			font-family: $fontVicB;
			font-size: 14px;
			line-height: 17px;
			color: $black;
			text-transform: uppercase;
			text-align: right;
			padding: 5px 7px;
			box-sizing: border-box;
			@include respond-to(mobile) {
				width: 100%;
				height: 100%;
				text-align: left;
				padding: 12px 60px 12px 10px;
			}
			@include placeholder {
				font-family: $fontVicB;
				font-size: 14px;
				line-height: 17px;
				color: $black;
				text-transform: uppercase;
				transition: color .4s ease 0s;
				opacity: 1;
			}
			&:focus {
				-webkit-box-shadow: 0 0 3px 0 $blue;
				-moz-box-shadow: 0 0 3px 0 $blue;
				box-shadow: 0 0 3px 0 $blue;
				@include placeholder {
					color: #201547;
				}
			}
		}
		&.search-btn {
			@include respond-to(mobile) {
				position: absolute;
				right: 20px;
				top: 50%;
				transform: translate(0, - 50%);
			}
		}
	}
	.active-mobile-search & {
		top: -53px;
	}
	&:hover {
		.search-field {
			-webkit-box-shadow: 0 0 3px 0 $blue;
			-moz-box-shadow: 0 0 3px 0 $blue;
			box-shadow: 0 0 3px 0 $blue;
			@include placeholder {
				color: #201547;
			}
		}

	}
}

.btn-mobile-search {
	display: none;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	@include respond-to(mobile) {
		display: block;
	}
	i {
		transition: opacity .1s;
	}
	.icon-close-search {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 25px;
		color: $black;
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	.active-mobile-search & {
		.icon-search {
			opacity: 0;
		}
		.icon-close-search {
			opacity: 1;
		}
	}
}

.main-nav {
	position: absolute;
	top: 0;
	left: -528px;
	width: 528px;
	height: 100%;
	overflow: hidden;
	background-color: $black-menu;
	transition: all .4s;
	@include respond-to(mobile) {
		width: 100%;
		left: -100%;
		z-index: 100;
	}
	> ul {
		height: 100%;
		list-style: none;
		transition: transform .3s;
		> li {
			&:first-child {
				height: 53px;
				line-height: 53px;
				position: relative;
				&:before {
					display: none;
				}
				a:not([class="btn-close-menu"]) {
					font-family: $fontVicB;
					font-size: 14px;
					line-height: 53px;
					text-transform: uppercase;
					padding: 0px 0 0px 25px;
				}
			}
			&:nth-child(2) {
				> a {
					padding-top: 17px;
				}
			}
		}
		li {
			&:first-child {
				a {
					&:before {
						display: none;
					}
				}
			}
			&:nth-child(2) {
				> a {
					padding-top: 17px;
				}
			}
			a {
				display: block;
				font-size: 18px;
				line-height: 22px;
				color: #fff;
				padding: 16px 55px 11px 28px;
				position: relative;
				transition: background .3s;
				&:before {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 1px;
					background-color: #fff;
					opacity: .2;
				}
				&:hover {
					background-color: #727272;
				}
			}
			.icon-nav {
				position: absolute;
				right: 23px;
				top: 50%;
				transform: translate(0, -50%);
			}
			&.level-back {
				a {
					font-size: 22px;
					line-height: 53px;
					text-align: center;
					padding: 0px 20px 0px 45px;
					height: 53px;
					white-space: nowrap;
					-ms-text-overflow: ellipsis;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.icon-nav {
					position: absolute;
					top: 50%;
					transform: translate(0, -50%);
					right: auto;
					left: 20px;
				}
			}
		}
	}
	.sub-menu {
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		height: 100%;
		list-style: none;
		background-color: $black-menu;
		transition: transform .3s;
		opacity: 0;
		visibility: hidden;
		li {
			a {
				padding-left: 20px;
			}
		}
	}
	.prev-menu {
		transform: translate(-100%, 0);
		opacity: 1;
		visibility: visible;
	}
	.current-menu {
		transform: translate(0, 0);
		opacity: 1;
		visibility: visible;
	}
	.next-menu {
		transform: translate(100%, 0);
	}
	&.opened {
		transform: translate(0, 0);
		@include respond-to(mobile) {
			left: 0;
		}
	}
}

.btn-menu {
	position: absolute;
	left: 0;
	top: 44%;
	backface-visibility: hidden;
	transform: translateZ(0);
	.burger {
		display: inline-block;
		position: relative;
		width: 30px;
		height: 20px;
		vertical-align: middle;
		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: $black;
			border-radius: 2px;
		}
		&:before {
			top: 0;
			transition: transform .3s ease 0s;
		}
		&:after {
			bottom: 0;
			transition: transform .5s ease 0s;
		}
		i {
			position: absolute;
			left: 0;
			top: 9px;
			width: 100%;
			height: 3px;
			background-color: $black;
			border-radius: 2px;
			transition: transform .4s ease 0s;
		}
	}
	&:hover {
		.burger {

			i, &:after, &:before {
				transform: rotateY(180deg);
			}

		}

	}

	.text {
		font-family: $fontVicB;
		font-size: 14px;
		line-height: 17px;
		color: $black;
		text-transform: uppercase;
		vertical-align: middle;
		padding-left: 9px;
		@include respond-to(mobile) {
			display: none;
		}
	}
}

.btn-close-menu {
	position: absolute;
	right: 5px;
	top: 0;
	height: 53px;
	width: 53px;
	z-index: 2;
	color: #fff;
	font-size: 18px;
	line-height: 53px;
	text-align: center;
	i {
		transition: transform .3s;
	}
	&:hover {
		i {
			transform: rotate(90deg);
		}
	}
}

