.main-wrapper {
	position: relative;
	background: #fff;
	transition: transform .5s;
	@include respond-to(mobile) {
		overflow: hidden;
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		visibility: hidden;
		background-color: rgba(0, 46, 102, .75);
		transition: all .5s;
		z-index: 100;
		transform: translateZ(0);
	}
	&.menu-opened {
		transform: translate(528px, 0);
		@include respond-to(mobile) {
			transform: translate(0, 0);
		}
		&:after {
			visibility: visible;
			opacity: 1;
			@include respond-to(mobile) {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}

.wrap {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	@include respond-to(mobile) {
		padding: 0 8px;
	}
}
