.loader {
	position: absolute;
	height: 59px;
	width: 59px;
	left: 50%;
	bottom: 79px;
	transform: translate(-50%, 0);
	visibility: hidden;
	opacity: 0;
	transition: all ease .5s;
	@include respond-to(tablet) {
		width: 44px;
		height: 44px;
		bottom: 50px;
	}
	@include respond-to(mobile) {
		width: 44px;
		height: 44px;
		bottom: 47px;
	}
	img {
		display: block;
		width: 100%;
	}
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
