.pagination {
	padding: 40px 0;
	ul {
		@include clearfix;
		list-style: none;
		text-align: center;
		position: relative;
		padding: 0;
		li {
			display: inline-block;
			padding: 0;
			padding: 0 6px;
			font-size: 0;
			line-height: 0;
			&:before {
				display: none;
			}
			a {
				font-family: $fontVicR;
				font-size: 18px;
				line-height: 22px;
				color: $blue;
				text-decoration: none;
				position: relative;
				transition: color .3s;
				&:after {
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 1px;
					background-color: $blue;
					transition: opacity .3s;
				}
				&:hover {
					color: $black;
					&:after {
						background-color: $black;
					}
				}
			}
			&.page-prev,
			&.page-next {
				display: block;
				position: absolute;
				top: 0;
				padding: 0;
				@include respond-to(mobile) {
					top: 3px;
				}
				a {
					font-family: $fontVicM;
					font-size: 18px;
					line-height: 22px;
					color: $blue;
					padding-bottom: 0;
					transition: color .3s;
					&:after {
						display: none;
					}
					&:hover {
						color: $black;
					}
				}
				span {
					display: inline-block;
					vertical-align: top;
					&.text {
						@include respond-to(mobile) {
							display: none;
						}
					}
				}
				&.disabled {
					a {
						color: #53565a;
						cursor: default;
					}
				}
			}
			&.page-prev {
				left: 0;
			}
			&.page-next {
				right: 0;
			}
			&.active {
				a {
					color: #53565a;
					cursor: default;
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
