.person-post {
	padding-top: 10px;
	padding-bottom: 41px;
	@include clearfix;
	@include respond-to(tablet) {
		padding-bottom: 16px;
	}
	@include respond-to(mobile) {
		padding-bottom: 17px;
	}
	.person-post__image {
		float: left;
		width: 300px;
		@include respond-to(tablet) {
			width: 162px;
		}
		@include respond-to(mobile) {
			float: none;
			width: 100%;
			padding-bottom: 32px;
		}
		img {
			display: block;
			width: 100%;
		}
	}

	.person-post__text {
		padding-left: 320px;
		@include respond-to(tablet) {
			padding-left: 185px;
		}
		@include respond-to(mobile) {
			padding-left: 0;
		}
		h4 {
			font-size: 30px;
			line-height: 30px;
			text-align: left;
			@include respond-to(tablet) {
				font-size: 25px;
				line-height: 25px;
			}
			@include respond-to(mobile) {
				padding-bottom: 20px;
				font-size: 16px;
				line-height: 16px;
			}
		}
		p {
			text-align: left;
			@include respond-to(tablet) {
				font-size: 16px;
			}
		}
		blockquote {
			padding: 54px 0 7px;
			@include respond-to(tablet) {
				padding: 35px 0 7px;
				font-size: 16px;
			}
			@include respond-to(mobile) {
				padding: 0 30px 0 45px;
				font-size: 13px;
				line-height: 22px;
			}
			&:before {
				content: "“";
				left: -5px;
				top: 8px;
				@include respond-to(tablet) {
					left: -7px;
					top: -10px;
					font-size: 115px;
				}
				@include respond-to(mobile) {
					right: -1px;
					bottom: -10px;
					font-size: 95px;
				}
			}
			&:after {
				content: "”";
				right: -5px;
				bottom: -4px;
				transform: rotateX(180deg);
				@include respond-to(tablet) {
					right: 0px;
					bottom: -11px;
					font-size: 115px;
				}
				@include respond-to(mobile) {
					font-size: 95px;
				}
			}
		}
	}
}
