// Post section - main styles

.post-content {
	padding-bottom: 43px;
	@include respond-to(mobile) {
		padding-bottom: 20px;
	}

	.post-block {
		padding-bottom: 20px;
		@include respond-to(mobile) {
			padding-bottom: 10px;
		}
	}	
	&.align-center {
		p {
			text-align: center;
			@include respond-to(mobile) {
				font-size: 13px;
				line-height: 22px;
			}
		}
		h1 {
			text-align: center;
		}
		h2 {
			padding-bottom: 80px;
			font-size: 50px;
			line-height: 56px;
			text-align: center;
			@include respond-to(tablet) {
				padding-bottom: 56px;
				font-size: 35px;
				line-height: 42px;
			}
			@include respond-to(mobile) {
				padding-bottom: 28px;
				font-size: 18px;
				line-height: 26px;
			}
		}
		h3 {
			font-size: 40px;
			line-height: 46px;
			text-align: center;
			@include respond-to(tablet) {
				font-size: 30px;
				line-height: 36px;
			}
			@include respond-to(mobile) {
				padding-bottom: 2px;
				font-size: 16px;
				line-height: 26px;
			}
		}
		h4 {
			text-align: center;
		}
		h5 {
			text-align: center;
		}
		h6 {
			text-align: center;
		}
	}
	ul,  .cms-edit-btn-container  .cms-btn-content  ul {
		list-style: none;
		padding-top: 10px;
		padding-bottom: 30px;
		li {
			font-size: 18px;
			line-height: 30px;
			color: $black;
			padding: 0 0 15px 23px;
			position: relative;
			@include respond-to(mobile) {
				font-size: 16px;
				line-height: 28px;
				padding-bottom: 10px;
				padding-left: 15px;
			}
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 11px;
				width: 5px;
				height: 5px;
				background: $black;
				border-radius: 50%;
			}
		}
	}
	ol {
		list-style: none;
		counter-reset: item;
		padding-top: 10px;
		padding-bottom: 30px;
		li {
			font-size: 18px;
			line-height: 30px;
			color: $black;
			padding: 0 0 15px 30px;
			position: relative;
			@include respond-to(mobile) {
				font-size: 16px;
				line-height: 28px;
				padding-bottom: 10px;
				padding-left: 28px;
			}
			&:before {
				content: counter(item) '.';
				counter-increment: item;
				position: absolute;
				left: 0;
				top: 0;
				color: #000;
				font-family: $fontVicB;
			}
		}
	}
	p {
		font-family: $fontVicR;
		font-size: 18px;
		color: $black;
		line-height: 30px;
		padding-bottom: 39px;
		@include respond-to(mobile) {
			font-size: 16px;
			line-height: 28px;
			padding-bottom: 25px;
		}
		strong {
			color: #53565a;
		}
	}
	.subtitle {
		font-size: 30px;
		line-height: 40px;
		color: $black;
		@include respond-to(mobile) {
			font-size: 20px;
			line-height: 30px;
			padding-bottom: 30px;
		}
	}
	.small-copy {
		font-size: 13px;
		line-height: 22px;
	}
	.summary {
		font-family: $fontVicB;
		padding-bottom: 50px;
		@include respond-to(mobile) {
			padding-bottom: 30px;
		}
	}
	.big-title {
		font-family: $fontVicB;
		font-size: 80px;
		line-height: 86px;
		color: $black;
		padding-bottom: 32px;
		@include respond-to(mobile) {
			font-size: 50px;
			line-height: 54px;
		}
	}

	strong, b {
		font-family: $fontVicB;
	}
	a {
		color: $blue;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
		&.link {
			display: inline-block;
			position: relative;
			text-decoration: none;
			transition: color .2s;
			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 1px;
				background-color: $blue;
				transition: background-color .2s;
			}
			&.large-link {
				font-family: $fontVicB;
				font-size: 40px;
				line-height: 50px;
				color: $blue;
				&:before {
					height: 2px;
				}
			}
			&.medium-link {
				font-family: $fontVicB;
				font-size: 30px;
				line-height: 40px;
				color: $blue;
				&:before {
					height: 2px;
				}
			}
			&.small-link {
				font-family: $fontVicB;
				font-size: 20px;
				line-height: 30px;
				color: $blue;
				&:before {
					height: 2px;
				}
			}
			&.body-link {
				font-family: $fontVicR;
				font-size: 18px;
				line-height: 30px;
				color: $blue;
				&:visited {
					color: $visited-link;
					&:before {
						background-color: $visited-link;
					}
				}
			}
			&.external {
				&:after {
					content: "\f08e";
					display: inline-block;
					padding-left: 5px;
					font: normal normal normal 14px/1 FontAwesome;
					font-size: inherit;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
				}
			}
			&:hover {
				color: $black;
				&:before {
					background-color: $active-link;
				}
			}
		}
	}
	img {
		max-width: 100%;
		&.float-left {
			float: left;
			margin: -20px 40px 20px 0;
			@include respond-to(mobile) {
				margin: 10px 0;
				float: none;
			}
		}
		&.float-right {
			float: right;
			margin: -31px 0 20px 40px;
			@include respond-to(mobile) {
				margin: 10px 0;
				float: none;
			}
		}
	}
	figure {
		figcaption {
			font-size: 13px;
			line-height: 22px;
			color: $black;
			padding-top: 12px;
		}
	}
	h1:not(.cke_panel_grouptitle) {
		font-family: $fontVicB;
		font-size: 56px;
		line-height: 48px;
		color: $black;
		font-weight: normal;
		padding-bottom: 20px;
		@include respond-to(tablet) {
			font-size: 44px;
			line-height: 40px;
		}
		@include respond-to(mobile) {
			font-size: 24px;
			line-height: 24px;
			padding-bottom: 10px;
		}
	}
	h2 {
		font-family: $fontVicB;
		font-size: 36px;
		line-height: 36px;
		color: $black;
		font-weight: normal;
		padding-bottom: 20px;
		@include respond-to(tablet) {
			font-size: 30px;
		}
		@include respond-to(mobile) {
			font-size: 24px;
			line-height: 24px;
			padding-bottom: 10px;
		}
	}
	h3 {
		font-family: $fontVicB;
		font-size: 24px;
		line-height: 30px;
		color: $black;
		font-weight: normal;
		padding-bottom: 14px;
		@include respond-to(tablet) {
			font-size: 20px;
			line-height: 26px;
		}
		@include respond-to(mobile) {
			font-size: 18px;
			line-height: 24px;
			padding-bottom: 8px;
		}
	}
	h4 {
		font-family: $fontVicB;
		font-size: 20px;
		line-height: 26px;
		color: $black;
		font-weight: normal;
		padding-bottom: 16px;
		@include respond-to(tablet) {
			font-size: 18px;
			line-height: 24px;
		}
		@include respond-to(mobile) {
			font-size: 16px;
			line-height: 24px;
			padding-bottom: 8px;
		}
	}
	h5 {
		font-family: $fontVicB;
		font-size: 18px;
		line-height: 22px;
		color: $black;
		font-weight: normal;
		padding-bottom: 10px;
		@include respond-to(mobile) {
			font-size: 16px;
			line-height: 20px;
		}
	}
	h6 {
		font-family: $fontVicB;
		font-size: 16px;
		line-height: 16px;
		color: $black;
		font-weight: normal;
		padding-bottom: 10px;
		@include respond-to(mobile) {
			font-size: 14px;
			line-height: 18px;
		}
	}

	table {
		width: 100%;
		box-sizing: border-box;
		margin-top: 70px;
		margin-bottom: 40px;
		@include respond-to(mobile) {
			margin: 0;
		}
		tr {
			&:last-child {
				td {
					padding-bottom: 20px;
					@include respond-to(mobile) {
						padding-bottom: 12px;
					}
				}
			}
			th {
				width: 130px;
				font-family: $fontVicB;
				font-size: 20px;
				line-height: 22px;
				color: $black;
				text-align: center;
				font-weight: normal;
				background-color: $gray-bg;
				border-left: 2px solid #fff;
				padding: 17px 10px 21px;
				@include respond-to(mobile) {
					font-size: 16px;
					line-height: 18px;
					padding: 12px 8px;
				}
				&:first-child {
					width: 172px;
					border: none;
				}
				&:last-child {
					border-right: 2px solid $gray-bg;
				}
			}
			td {
				font-size: 16px;
				line-height: 28px;
				padding: 40px 10px 0 10px;
				border-left: 2px solid $gray-bg;
				@include respond-to(mobile) {
					padding: 12px 8px;
				}
				&:first-child {
					border: none;
				}
				&:last-child {
					border-right: 2px solid $gray-bg;
				}
				p {
					padding-bottom: 0;
				}
				.mobile-title {
					font-family: $fontVicB;
					font-size: 20px;
					line-height: 22px;
					text-align: center;
				}
			}
		}
	}
	blockquote {
		font-family: $fontVicR;
		font-size: 18px;
		line-height: 30px;
		color: $black;
		position: relative;
		margin: 0 0 41px;
		padding: 0 80px;
		@include respond-to(mobile) {
			font-size: 16px;
			line-height: 25px;
			padding: 0 38px;
		}
		&:before,
		&:after {
			position: absolute;
			font-family: $fontKessel;
			font-size: 150px;
			line-height: 90px;
			color: #edeef0;
			@include respond-to(mobile) {
				font-size: 90px;
				line-height: 45px;
			}
		}
		&:before {
			content: "“";
			left: -5px;
			top: 37px;
			@include respond-to(mobile) {
				top: 6px;
			}
		}
		&:after {
			content: "”";
			right: 34px;
			bottom: -72px;
			@include respond-to(mobile) {
				right: 5px;
				bottom: -35px;
			}
		}
	}
	.btn {
		text-decoration: none;
		&.btn-blue {
			color: #fff;
		}
		&.btn-white {
			color: $blue;
			&:hover {
				color: #fff;
			}
		}
	}
	.btn-back-to-top {
		text-decoration: none;
	}
}

// Post section - custom elements

.figures {
	padding-bottom: 35px;
	@include clearfix;

	.item {
		float: left;
		padding-bottom: 0;
		padding-left: 97px;
		@include respond-to(mobile) {
			float: none;
			padding-left: 0;
			padding-bottom: 20px;
			text-align: center;
		}
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			@include respond-to(mobile) {
				padding-bottom: 0;
			}
		}
		p {
			padding-bottom: 0;
			font-size: 18px;
			line-height: 30px;
			color: black;
		}
		strong {
			font-size: 30px;
			line-height: 36px;
			color: $black;
		}
	}

}

a.pdf-download {
	margin: 22px 0 10px;
	width: 280px;
	padding: 12px 20px 8px 74px;
	background-color: $gray-bg;
	box-sizing: border-box;
	position: relative;
	display: block;
	text-decoration: none;

	.icon {
		position: absolute;
		left: 33px;
		top: 50%;
		transform: translate(0, -50%);
	}
	.type {
		font-family: $fontVicR;
		font-size: 13px;
		line-height: 18px;
		color: $black;
		padding-bottom: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.name {
		padding-bottom: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-family: $fontVicM;
		font-size: 20px;
		line-height: 22px;
		color: $blue;
		text-decoration: none;
		transition: color .3s;
		&:hover {
			color: $black;
		}
	}

}

