html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, figure, label, table, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #000;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
}

input, select, button, textarea {
	margin: 0;
	padding: 0;
	font-size: 100%;
	color: #000;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

/* --------------- /reset.css --------------- */

body {
	font: 14px/16px "vic_regular", Helvetica, Arial, sans-serif;
	color: #000;
	text-align: left;
	background: #fff;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;
}

label, input[type="button"], input[type="submit"], button {
	cursor: pointer;
}

