.sidebar {
	float: right;
	width: 32%;
	padding-left: 20px;
	box-sizing: border-box;
	@include respond-to(tablet) {
		width: 40%;
	}
	@include respond-to(break-1023) {
		width: auto;
		float: none;
		padding-left: 0;
	}
	@include respond-to(mobile) {
		width: auto;
		float: none;
		padding-left: 0;
	}
}

// Sidebar elements
.side-nav {
	padding-bottom: 77px;
	@include respond-to(break-1023) {
		display: none;
	}
	@include respond-to(mobile) {
		display: none;
	}
	> ul {
		li {
			&.active {
				> a {
					font-family: $fontVicB;
					color: $black;
					background-color: $gray;
				}
			}
			&.opened {
				> a {
					font-family: $fontVicB;
					color: $black;
					background-color: #fff;
				}

				> ul {
					display: block;
				}
			}
		}
		> li {
			list-style: none;
			position: relative;
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 2px;
				background: $gray;
				z-index: 2;
			}
			&:last-child {
				&:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					background: $gray;
				}
			}
			> a {
				display: block;
				font-family: $fontVicB;
				font-size: 20px;
				line-height: 28px;
				color: $blue;
				position: relative;
				transition: color .3s;
				padding: 17px 0 11px 33px;
				&:hover {
					color: $black;
				}
			}

			ul {
				display: none;
				list-style: none;
				li {
					a {
						display: block;
						font-family: $fontVicR;
						font-size: 16px;
						line-height: 18px;
						color: $blue;
						padding: 16px 0 15px 49px;
						&:hover {
							color: $black;
						}
					}
					> ul {
						> li {
							> a {
								padding-left: 62px;
							}
							> ul {
								> li {
									> a {
										padding-left: 75px;
									}
								}
							}
						}
					}
					//&:last-child {
					//    padding-bottom: 0;
					//}

				}
			}
		}
	}
}

.related-pages {
	padding: 0 65px 20px 33px;
	@include respond-to(break-1023) {
		padding: 20px 0;
	}
	@include respond-to(mobile) {
		padding: 20px 0;
	}
	p {
		font-family: $fontVicB;
		font-size: 20px;
		line-height: 26px;
		color: $black;
		padding-bottom: 30px;
		@include respond-to(mobile) {
			padding-bottom: 15px;
		}
	}
	ul {
		list-style: none;
		li {
			padding-bottom: 23px;
			@include respond-to(mobile) {
				padding-bottom: 18px;
			}
			a {
				font-family: $fontVicR;
				font-size: 16px;
				line-height: 26px;
				color: $blue;
				text-decoration: underline;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}
