.sticky-share {
	position: absolute;
	right: 0;
	top: 128px;
	@include respond-to(tablet) {
		display: none;
	}
	@include respond-to(mobile) {
		display: none;
	}
	&.fixed {
		position: fixed;
		top: 50%;
		right: 0;
		transform: translate(0, -50%) translateZ(0);
		z-index: 10;
	}
	ul {
		li {
			list-style-type: none;
			border-bottom: 1px solid #fff;
			&:last-child {
				border-bottom: none;
			}
			a {
				position: relative;
				display: block;
				height: 76px;
				width: 78px;
				background-color: $blue;
				transition: background-color ease .4s;
				&:hover {
					background-color: $btn-blue-hover;
				}
				&:active {
					background-color: $btn-blue-active;
				}
				.fa {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
					&.fa-facebook {
						font-size: 32px;
					}
					&.fa-twitter {
						font-size: 25px;
					}
					&.fa-linkedin {
						font-size: 25px;
					}
				}
			}
		}
	}
}
