.cke_dialog {
	z-index: 1000200 !important;
}

.cke {
	z-index: 1000190 !important;
}

div.cms-section-properties-btn-container {
	margin: 0;
}

div.cke_combopanel__styles {
	width: 280px;
	height: 300px;
}
