$base_url: '';
$assets_url: '..';

// Fonts
$fontVicR: 'vic_regular', Helvetica, Arial, sans-serif;
$fontVicB: 'vic_bold', Helvetica, Arial, sans-serif;
$fontVicM: 'vic_medium', Helvetica, Arial, sans-serif;
$fontVicSm: 'vic_semibold', Helvetica, Arial, sans-serif;
$fontKessel: 'kessel', Helvetica, Arial, sans-serif;

// Colors
$black: #202020;
$black-menu: #333;
$gray: #EBECEE;
$d-gray: #717479;
$gray-bg: #edeef0;
$blue: #004ea8;
$active-link: #002f65;
$visited-link: #87189d;
$btn-blue-hover: #003e86;
$btn-blue-active: #002f65;
$btn-fb: #3556a0;
$btn-tw: #56a7df;
$btn-in: #0077b5;
$btn-gp: #db4437;
$color-yes: #78be20;
$color-somewhat: #f6be00;
$color-no: #af272f;
