// Buttons
.btn {
	display: inline-block;
	height: 60px;
	padding: 0 35px;
	font-family: $fontVicM;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	box-sizing: border-box;
	transition: all .3s;
	text-decoration: none;
	&.btn-blue {
		color: #fff;
		background-color: $blue;
		&:hover {
			background-color: $btn-blue-hover;
		}
		&:active {
			background-color: $btn-blue-active;
		}
	}
	&.btn-white {
		color: $blue;
		background-color: #fff;
		border: 1px solid #d9d9d6;
		&:hover {
			background-color: $blue;
			color: #fff;
			border-color: transparent;
		}
		&:active {
			color: #fff;
			background-color: $btn-blue-active;
			border-color: transparent;
		}
	}
	&.btn-small {
		height: 50px;
		line-height: 50px;
	}
}
