// Icons
.survey-icon {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	&.icon-yes {
		background: url("#{$assets_url}/images/general/yes.svg");
	}
	&.icon-somewhat {
		background: url("#{$assets_url}/images/general/somewhat.svg");
	}
	&.icon-no {
		background: url("#{$assets_url}/images/general/no.svg");
	}
}

.icon-search {
	display: block;
	width: 25px;
	height: 25px;
	background: url("#{$assets_url}/images/general/search.png") no-repeat;
}
