/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.news-grid-i:after {
  content: "";
  display: table;
  clear: both; }

.news-grid .item {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden; }
  @media only screen and (max-width: 767px) {
    .news-grid .item {
      width: 100%;
      float: none;
      display: block; } }
  .news-grid .item.double {
    width: 50%; }
    @media only screen and (max-width: 767px) {
      .news-grid .item.double {
        width: 100%; } }
  .news-grid .item:hover .title {
    color: #fff;
    border-color: #fff; }
  .news-grid .item:hover img {
    -webkit-transform: scale(1.1, 1.1) translateZ(0);
    -khtml-transform: scale(1.1, 1.1) translateZ(0);
    -moz-transform: scale(1.1, 1.1) translateZ(0);
    -ms-transform: scale(1.1, 1.1) translateZ(0);
    -o-transform: scale(1.1, 1.1) translateZ(0);
    transform: scale(1.1, 1.1) translateZ(0); }
  .news-grid .item:hover p {
    color: #fff; }
  .news-grid .item:hover:nth-child(even) .text {
    background: #201547; }
  .news-grid .item:hover:nth-child(odd) .text {
    background: #51565a; }
  .news-grid .item:nth-child(even) .text {
    background: #fff; }
  .news-grid .item:nth-child(odd) .text {
    background: #d9d9d6; }

.news-grid .wrap-img {
  position: relative;
  overflow: hidden;
  display: block; }
  .news-grid .wrap-img img {
    -webkit-transition: transform 6s ease 0s;
    -khtml-transition: transform 6s ease 0s;
    -moz-transition: transform 6s ease 0s;
    -ms-transition: transform 6s ease 0s;
    -o-transition: transform 6s ease 0s;
    transition: transform 6s ease 0s;
    width: 100%;
    display: block; }

.news-grid .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 25px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: background .6s ease 0s; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .news-grid .text {
      padding: 0 10px 10px; } }
  @media only screen and (max-width: 767px) {
    .news-grid .text {
      padding: 0 10px 15px; } }

.news-grid .title {
  font-size: 24px;
  line-height: 28px;
  color: #201547;
  font-family: 'vic_sbold', sans-serif;
  font-weight: normal;
  padding-top: 10px;
  border-bottom: 1px solid #201547;
  padding-bottom: 6px;
  margin-bottom: 5px;
  transition: color .6s ease 0s, border-color .6s ease 0s; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .news-grid .title {
      font-size: 20px;
      line-height: 24px; } }
  @media only screen and (max-width: 767px) {
    .news-grid .title {
      font-size: 25px;
      line-height: 30px; } }

.news-grid p {
  color: #201547;
  font-size: 14px;
  line-height: 18px;
  transition: color .6s ease 0s; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .news-grid p {
      font-size: 12px;
      line-height: 16px; } }
  @media only screen and (max-width: 767px) {
    .news-grid p {
      font-size: 15px;
      line-height: 18px; } }

.grid-title {
  height: 130px;
  background: url("../images/general/pattern123x130.png") repeat-x;
  padding: 0 20px; }
  @media only screen and (max-width: 767px) {
    .grid-title {
      height: 68px;
      padding: 0 10px; } }
  .grid-title h3 {
    padding-top: 60px;
    font-size: 36px;
    line-height: 60px;
    color: #fff;
    font-family: 'vic_bold', sans-serif;
    font-weight: normal; }
    @media only screen and (max-width: 767px) {
      .grid-title h3 {
        font-size: 38px;
        line-height: 68px;
        padding-top: 0; } }

.promo {
  width: 100%;
  display: block;
  position: relative;
  height: 235px;
  overflow: hidden; }
  .promo:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .promo {
      height: auto; } }
  @media only screen and (max-width: 767px) {
    .promo {
      height: auto; } }
  .promo img {
    width: 100%;
    display: block; }
  .promo.honour {
    height: 390px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    @media only screen and (max-width: 767px) {
      .promo.honour {
        height: 155px; } }
  .promo .promo-r img {
    -webkit-transform: translateY(-50%);
    -khtml-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 30%;
    position: absolute;
    right: 0; }
    @media (max-width: 1280px) {
      .promo .promo-r img {
        -webkit-transform: translateY(0%);
        -khtml-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        top: 0%;
        position: relative; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .promo .promo-r img {
        -webkit-transform: translateY(0%);
        -khtml-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        top: 0%;
        position: relative; } }
    @media only screen and (max-width: 767px) {
      .promo .promo-r img {
        -webkit-transform: translateY(0%);
        -khtml-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
        top: 0%;
        position: relative; } }

.promo-main {
  width: 100%;
  display: block;
  position: relative;
  max-height: 500px;
  overflow: hidden; }
  .promo-main:after {
    content: "";
    display: table;
    clear: both; }
  .promo-main img {
    width: 100%;
    display: block; }
  .promo-main .promo-text {
    transition: opacity .5s ease 1s, transform .5s ease .3s; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .promo-main .promo-text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0; } }
    @media only screen and (max-width: 767px) {
      .promo-main .promo-text {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 0; } }
  .promo-main .promo-l {
    width: 49.5%;
    position: absolute;
    transition: transform 1s ease 0s, opacity .5s ease 0s; }
    @media only screen and (max-width: 767px) {
      .promo-main .promo-l {
        width: 59.5%; } }
    .promo-main .promo-l img {
      height: auto;
      width: 100%; }
      @media only screen and (max-width: 767px) {
        .promo-main .promo-l img {
          min-height: 100%;
          width: auto; } }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .promo-main .promo-i {
      width: 49.5%; } }
  @media only screen and (max-width: 767px) {
    .promo-main .promo-i {
      width: 59.5%; } }
  @media only screen and (max-width: 767px) {
    .promo-main .promo-r {
      display: block; } }
  .promo-main .promo-r img {
    position: relative; }
  .promo-main .promo-logo {
    width: 520px;
    position: absolute;
    top: 124px;
    left: 0px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .promo-main .promo-logo {
        min-height: 0;
        width: 100%;
        left: auto;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -6.5%; } }
    @media only screen and (max-width: 767px) {
      .promo-main .promo-logo {
        min-height: 0;
        width: 100%;
        left: auto;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -khtml-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: -14.5%; } }

.promo-l {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 44%;
  height: 100%;
  opacity: 0;
  transition: transform 1s ease 0s, opacity .8s ease 0s; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .promo-l {
      transform: none;
      width: 400px; } }
  @media only screen and (max-width: 767px) {
    .promo-l {
      width: 55%;
      transform: none; } }
  .w-load .promo-l {
    -webkit-transform: translateX(0);
    -khtml-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; }
  .promo-l img {
    height: 100%; }

.promo-r {
  position: relative;
  right: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%; }

.promo-i {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0; }

.promo-text {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  opacity: 1;
  transition: opacity .5s ease 1s, transform .5s ease .5s;
  -webkit-transform: translateX(-200%);
  -khtml-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%); }
  .w-load .promo-text {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -khtml-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .promo-text {
      opacity: 1; } }
  @media only screen and (max-width: 767px) {
    .promo-text {
      opacity: 1; } }

.promo-title {
  font-size: 35px;
  line-height: 60px;
  color: #fff;
  font-family: 'vic_bold', sans-serif;
  font-weight: normal;
  padding-top: 36px;
  display: block; }
  @media only screen and (max-width: 767px) {
    .promo-title {
      padding-top: 20px;
      font-size: 24px; } }

.logo {
  width: 215px; }
  .logo img {
    width: 100%; }

.promo-center {
  position: absolute;
  width: 605px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 26px 0 33px;
  background-color: #000000; }
  @media only screen and (max-width: 767px) {
    .promo-center {
      width: auto;
      padding: 8px 32px 12px;
      transform: translate(-50%, -50%); } }
  .promo-center p {
    padding: 5px 0;
    font-size: 75px;
    line-height: 78px;
    letter-spacing: -3.5px;
    text-transform: uppercase;
    font-family: "vic_bold", Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .promo-center p {
        padding: 0;
        font-size: 28px;
        line-height: 33px;
        letter-spacing: 2px; } }
    .promo-center p:first-child {
      padding: 0;
      font-size: 40px;
      line-height: 44px;
      font-family: 'vic_light';
      letter-spacing: 1.5px; }
      @media only screen and (max-width: 767px) {
        .promo-center p:first-child {
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0px; } }
    .promo-center p:last-child {
      padding: 0;
      font-size: 38px;
      line-height: 42px;
      font-family: "vic_medium", Helvetica, Arial, sans-serif;
      letter-spacing: 2px; }
      @media only screen and (max-width: 767px) {
        .promo-center p:last-child {
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 1px; } }

.news-list {
  overflow: hidden;
  position: relative;
  height: 200px;
  margin-bottom: -60px; }
  .news-list:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .news-list {
      height: 180px; } }
  @media only screen and (max-width: 767px) {
    .news-list {
      height: auto;
      margin-bottom: 0; } }
  .news-list .item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 26px 25px 0;
    height: 140px;
    position: relative;
    transition: height .4s ease 0s; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .news-list .item {
        padding: 15px 10px 0; } }
    @media only screen and (max-width: 767px) {
      .news-list .item {
        padding: 0px;
        height: 76px;
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 35px; } }
    .news-list .item:after {
      position: absolute;
      top: 100%;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      height: 60px;
      opacity: 0.5;
      background: inherit;
      transition: opacity .4s ease 0s;
      z-index: 2; }
      @media only screen and (max-width: 767px) {
        .news-list .item:after {
          height: 35px; } }
    .news-list .item:before {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      content: '';
      width: 100%; }
      @media only screen and (max-width: 767px) {
        .news-list .item:before {
          display: block;
          background: url("../images/general/pattern123x65.png");
          height: 35px;
          top: auto;
          bottom: -35px;
          transform: none;
          background-repeat: repeat-x; } }
    .news-list .item.color-orange {
      background: #e35205; }
    .news-list .item.color-red {
      background: #d50032; }
    .news-list .item.color-green {
      background: #007b4b; }
    .news-list .item.color-purple {
      background: #86189d; }
    .news-list .item:hover {
      height: 200px; }
      @media only screen and (max-width: 767px) {
        .news-list .item:hover {
          height: 76px; } }
      .news-list .item:hover .sub-title {
        opacity: 0; }
      .news-list .item:hover:before {
        transform: translateY(0); }
      .news-list .item:hover p {
        opacity: 1;
        transition: opacity .5s ease .4s; }
  .news-list .title {
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    font-family: 'vic_bold', sans-serif;
    display: block;
    font-weight: normal;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
    margin-bottom: 6px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .news-list .title {
        font-size: 26px;
        line-height: 36px; } }
    @media only screen and (max-width: 767px) {
      .news-list .title {
        font-size: 32px;
        line-height: 78px;
        padding: 0 10px;
        margin: 0;
        border-bottom: none; } }
  .news-list .sub-title {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    position: relative;
    z-index: 2;
    font-weight: normal;
    font-family: 'vic_medium', sans-serif;
    transition: transform .4s ease 0s, opacity .4s ease 0s; }
    @media only screen and (max-width: 767px) {
      .news-list .sub-title {
        display: none; } }
  .news-list p {
    opacity: 0;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 81px;
    left: 25px;
    right: 25px;
    z-index: 2;
    font-weight: normal;
    font-family: 'vic_medium', sans-serif;
    transition: transform .4s ease 0s, opacity .4s ease .0s;
    overflow: hidden;
    height: 90px; }
    @media only screen and (max-width: 767px) {
      .news-list p {
        display: none; } }

.cke_dialog {
  z-index: 1000200 !important; }

.cke {
  z-index: 1000190 !important; }

div.cms-section-properties-btn-container {
  margin: 0; }

div.cke_combopanel__styles {
  width: 280px;
  height: 300px; }

.honour-roll-grid {
  overflow: hidden;
  background-color: #d9d9d6; }

.honour-roll-grid__top-pattern {
  height: 33px;
  background-image: url("../images/content/honour-top-pattern.jpg");
  background-repeat: repeat-x; }
  @media only screen and (max-width: 767px) {
    .honour-roll-grid__top-pattern {
      height: 15px; } }

.honour-roll-grid_i {
  margin: auto -2px; }

.honour-item {
  float: left;
  width: 25%;
  padding: 0 2px;
  box-sizing: border-box;
  overflow: hidden; }
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .honour-item {
      width: 50%; } }
  @media only screen and (max-width: 767px) {
    .honour-item {
      width: 50%; } }
  @media only screen and (max-width: 767px) and (orientation: portrait) {
    .honour-item {
      width: 100%; } }
  .honour-item.long {
    position: relative;
    width: 50%;
    height: 300px; }
    @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
      .honour-item.long {
        width: 100%; } }
    @media only screen and (max-width: 767px) {
      .honour-item.long {
        width: 100%;
        height: auto !important; } }
    .honour-item.long .honour-item_i {
      background: #201547; }
  .honour-item .honour-item_i {
    position: relative;
    width: 100%;
    height: 100%; }
  .honour-item.blue a .info:after {
    background: -webkit-linear-gradient(rgba(0, 103, 177, 0), #0067b1 100%);
    background: -o-linear-gradient(rgba(0, 103, 177, 0), #0067b1 100%);
    background: linear-gradient(rgba(0, 103, 177, 0), #0067b1 100%); }
  .honour-item.green a .info:after {
    background: -moz-linear-gradient(top, rgba(0, 87, 63, 0) 0%, #00573f 100%);
    background: -webkit-linear-gradient(top, rgba(0, 87, 63, 0) 0%, #00573f 100%);
    background: linear-gradient(to bottom, rgba(0, 87, 63, 0) 0%, #00573f 100%); }
  .honour-item.purple a .info:after {
    background: -moz-linear-gradient(top, rgba(33, 21, 71, 0) 0%, #211547 100%);
    background: -webkit-linear-gradient(top, rgba(33, 21, 71, 0) 0%, #211547 100%);
    background: linear-gradient(to bottom, rgba(33, 21, 71, 0) 0%, #211547 100%); }
  .honour-item a {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%; }
    .honour-item a img {
      display: block;
      width: 100%;
      transition: transform ease 6s; }
    .honour-item a:hover img {
      transform: scale(1.1, 1.1) translateZ(0); }
    .honour-item a:hover .info:before {
      background: transparent; }
    .honour-item a:hover .info .birth {
      opacity: 0;
      transition-delay: 0s; }
    .honour-item a:hover .info .description {
      transition-delay: .4s;
      opacity: 1; }
  .honour-item .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 35px 15px 10px;
    box-sizing: border-box;
    transform: translateZ(0); }
    .honour-item .info:before, .honour-item .info:after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .honour-item .info:before {
      background: #000;
      transition: background linear .4s;
      z-index: 2; }
    .honour-item .info:after {
      z-index: 1; }
    @media (min-width: 1280px) {
      .honour-item .info {
        padding: 35px 15px 20px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .honour-item .info {
        padding: 25px 10px 10px; } }
    @media only screen and (max-width: 767px) {
      .honour-item .info {
        padding: 30px 10px 15px; } }
    .honour-item .info .text {
      position: relative;
      width: 100%;
      z-index: 3; }
    .honour-item .info .name {
      position: relative;
      padding-bottom: 5px;
      font-size: 24px;
      line-height: 26px;
      font-family: "vic_semibold", Helvetica, Arial, sans-serif;
      color: #fff;
      z-index: 3; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .honour-item .info .name {
          font-size: 20px;
          line-height: 22px; } }
      @media only screen and (max-width: 767px) {
        .honour-item .info .name {
          font-size: 25px;
          line-height: 27px; } }
    .honour-item .info .birth {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 18px;
      line-height: 20px;
      font-family: "vic_medium", Helvetica, Arial, sans-serif;
      color: #fff;
      opacity: 1;
      transition: opacity .4s .4s; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .honour-item .info .birth {
          font-size: 16px;
          line-height: 18px; } }
      @media only screen and (max-width: 767px) {
        .honour-item .info .birth {
          font-size: 18px;
          line-height: 20px; } }
    .honour-item .info .description {
      font-size: 18px;
      line-height: 20px;
      font-family: "vic_medium", Helvetica, Arial, sans-serif;
      color: #fff;
      opacity: 0;
      transition: opacity .4s; }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .honour-item .info .description {
          font-size: 16px;
          line-height: 18px; } }
      @media only screen and (max-width: 767px) {
        .honour-item .info .description {
          font-size: 18px;
          line-height: 20px; } }

.honour-item__text {
  position: absolute;
  top: 50%;
  left: 23px;
  right: 23px;
  transform: translate(0, -50%); }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .honour-item__text {
      left: 15px;
      right: 15px; } }
  @media only screen and (max-width: 767px) {
    .honour-item__text {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      transform: translate(0, 0);
      padding: 23px 15px 20px; } }
  .honour-item__text p {
    font-size: 27px;
    line-height: 35px;
    color: #fff;
    font-family: "vic_medium", Helvetica, Arial, sans-serif;
    text-align: center; }
    .honour-item__text p:last-child {
      padding-top: 30px;
      font-size: 12px;
      line-height: 14px;
      font-family: "vic_regular", Helvetica, Arial, sans-serif; }
      @media (min-width: 1280px) {
        .honour-item__text p:last-child {
          padding-top: 20px; } }
      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .honour-item__text p:last-child {
          padding-top: 15px; } }
      @media only screen and (max-width: 767px) {
        .honour-item__text p:last-child {
          padding-top: 34px;
          font-size: 10px;
          line-height: 12px; } }
    @media (min-width: 1280px) {
      .honour-item__text p {
        font-size: 27px;
        line-height: 43px; } }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .honour-item__text p {
        font-size: 23px;
        line-height: 39px; } }
    @media only screen and (max-width: 767px) {
      .honour-item__text p {
        font-size: 12px;
        line-height: 19px; } }
