.honour-roll-grid {
	overflow:hidden;
	background-color: #d9d9d6; 
}

.honour-roll-grid__top-pattern {
	height: 33px;
	background-image: url('#{$assets_url}/images/content/honour-top-pattern.jpg');
	background-repeat: repeat-x;
	@include respond-to(mobile) {
		height: 15px;
	}
}

.honour-roll-grid_i {
	margin: auto -2px;
}

.honour-item {
	float: left;
	width: 25%;
	padding: 0 2px;
	box-sizing:border-box;
	overflow: hidden;
	@include respond-to(tablet-portrait) {
		width: 50%;
	}
	@include respond-to(mobile) {
		width: 50%;
	}
	@include respond-to(mobile-portrait) {
		width: 100%;
	}
	&.long {
		position: relative;
		width: 50%;
		height:300px;
		@include respond-to(tablet-portrait) {
			width: 100%;
		}
		@include respond-to(mobile) {
			width: 100%;
			height: auto !important;
		}
		.honour-item_i {
			background: #201547;
		}
	}
	.honour-item_i {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&.blue {
		a {
			.info {
				&:after {
					background: -webkit-linear-gradient(rgba(0,103,177,0), rgba(0,103,177,1) 100%);
					background: -o-linear-gradient(rgba(0,103,177,0), rgba(0,103,177,1) 100%);
					background: linear-gradient(rgba(0,103,177,0), rgba(0,103,177,1) 100%);
				}
			}
		}
	}
	&.green {
		a {
			.info {
				&:after {
					background: -moz-linear-gradient(top,  rgba(0,87,63,0) 0%, rgba(0,87,63,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(0,87,63,0) 0%,rgba(0,87,63,1) 100%);
					background: linear-gradient(to bottom,  rgba(0,87,63,0) 0%,rgba(0,87,63,1) 100%);
				}		
			}
		}
	}
	&.purple {
		a {
			.info {
				&:after {
					background: -moz-linear-gradient(top,  rgba(33,21,71,0) 0%, rgba(33,21,71,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(33,21,71,0) 0%,rgba(33,21,71,1) 100%);
					background: linear-gradient(to bottom,  rgba(33,21,71,0) 0%,rgba(33,21,71,1) 100%);
				}
			}
		}
	}
	a {
		display: block;
		overflow: hidden;
		position: relative;
		height: 100%;
		img {
			display: block;
			width: 100%;
			transition:transform ease 6s;
		}
		&:hover {
			img {
				transform: scale(1.1, 1.1) translateZ(0);
			}
			.info {
				&:before {
					background: rgba(0,0,0,0);
				}
				.birth{ 
					opacity: 0;
					transition-delay:0s;
				}
				.description {
					transition-delay:.4s;
					opacity: 1;
				}
			}
		}
	}
	.info {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 35px 15px 10px;
		box-sizing:border-box;
		transform:translateZ(0);
		&:before, &:after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		&:before {
			background: #000;
			transition:background linear .4s;
			z-index: 2;
		}
		&:after {
			z-index: 1;
		}
		@media (min-width:1280px) {
			padding: 35px 15px 20px;
		}
		@include respond-to(tablet) {
			padding: 25px 10px 10px;
		}
		@include respond-to(mobile) {
			padding: 30px 10px 15px;
		} 
		.text {
			position: relative;
			width: 100%;
			z-index: 3;
		} 
		.name {
			position: relative;
			padding-bottom: 5px;
			font-size: 24px;
			line-height: 26px;
			font-family: $fontVicSm;
			color: #fff;
			z-index: 3;
			@include respond-to(tablet) {
				font-size: 20px;
				line-height: 22px;	
			}
			@include respond-to(mobile) {
				font-size: 25px;
				line-height: 27px;
			}
		}
		.birth {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			font-size: 18px;
			line-height: 20px;
			font-family: $fontVicM;
			color: #fff;
			opacity: 1;			
			transition:opacity .4s .4s;
			@include respond-to(tablet) {
				font-size: 16px;
				line-height: 18px;
			}
			@include respond-to(mobile) {
				font-size: 18px;
				line-height: 20px;
			}
		}
		.description {
			font-size: 18px;
			line-height: 20px;
			font-family: $fontVicM;
			color: #fff;
			opacity: 0;
			transition:opacity .4s;
			@include respond-to(tablet) {
				font-size: 16px;
				line-height: 18px;
			}
			@include respond-to(mobile) {
				font-size: 18px;
				line-height: 20px;
			} 
		}
	}
}

.honour-item__text {
	position: absolute;
	top: 50%;
	left: 23px;
	right: 23px;
	transform:translate(0, -50%);
	@include respond-to(tablet) {
		left: 15px;
		right: 15px;
	}
	@include respond-to(mobile) {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		transform:translate(0, 0);
		padding: 23px 15px 20px;
	}
	p{
		font-size: 27px;
		line-height: 35px;
		color: #fff;
		font-family: $fontVicM;
		text-align: center;
		&:last-child {
			padding-top: 30px;
			font-size:12px;
			line-height: 14px;
			font-family: $fontVicR;
			@media (min-width:1280px) {
				padding-top: 20px;
			}
			@include respond-to(tablet) {
				padding-top: 15px;
			}
			@include respond-to(mobile) {
				padding-top: 34px;
				font-size:10px;
				line-height: 12px;
			}
		}
		@media (min-width:1280px){
			font-size: 27px;
			line-height: 43px;
		}
		@include respond-to(tablet) {
			font-size: 23px;
			line-height: 39px;
		}
		@include respond-to(mobile) {
			font-size: 12px;
			line-height: 19px;
		}
	}
}
