.news-grid-i {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.news-grid {
	.item {
		position: relative;
		float: left;
		width: 25%;
		overflow: hidden;
		@include respond-to(mobile) {
			width: 100%;
			float: none;
			display: block;
		}

		&.double {
			width: 50%;
			@include respond-to(mobile) {
				width: 100%;
			}

		}

		&:hover {
			.title {
				color: #fff;
				border-color: #fff;
			}

			img {
				@include transform(scale(1.1, 1.1) translateZ(0));
			}

			p {
				color: #fff;
			}

			&:nth-child(even) {
				.text {
					background: #201547;
				}
			}

			&:nth-child(odd) {
				.text {
					background: #51565a;
				}
			}
		}

		&:nth-child(even) {
			.text {
				background: #fff;
			}
		}

		&:nth-child(odd) {
			.text {
				background: #d9d9d6;
			}

		}
	}

	.wrap-img {
		position: relative;
		overflow: hidden;
		display: block;
		img {
			@include transition(transform 6s ease 0s);
			width: 100%;
			display: block;
		}
	}

	.text {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0 25px 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		transition: background .6s ease 0s;
		@include respond-to(tablet) {
			padding: 0 10px 10px;
		}

		@include respond-to(mobile) {
			padding: 0 10px 15px;
		}

	}

	.title {
		font-size: 24px;
		line-height: 28px;
		color: #201547;
		font-family: 'vic_sbold', sans-serif;
		font-weight: normal;
		padding-top: 10px;
		border-bottom: 1px solid #201547;
		padding-bottom: 6px;
		margin-bottom: 5px;
		transition: color .6s ease 0s, border-color .6s ease 0s;
		@include respond-to(tablet) {
			font-size: 20px;
			line-height: 24px;
		}

		@include respond-to(mobile) {
			font-size: 25px;
			line-height: 30px;
		}

	}

	p {
		color: #201547;
		font-size: 14px;
		line-height: 18px;
		transition: color .6s ease 0s;
		@include respond-to(tablet) {
			font-size: 12px;
			line-height: 16px;
		}
		@include respond-to(mobile) {
			font-size: 15px;
			line-height: 18px;
		}

	}
}

.grid-title {
	height: 130px;
	background: url('#{$assets_url}/images/general/pattern123x130.png') repeat-x;
	padding: 0 20px;
	@include respond-to(mobile) {
		height: 68px;
		padding: 0 10px;
	}

	h3 {
		padding-top: 60px;
		font-size: 36px;
		line-height: 60px;
		color: #fff;
		font-family: 'vic_bold', sans-serif;
		font-weight: normal;
		@include respond-to(mobile) {
			font-size: 38px;
			line-height: 68px;
			padding-top: 0;
		}

	}

}





