
.news-list {
	overflow: hidden;
	position: relative;
	height: 200px;
	margin-bottom: -60px;
	@include clearfix;
	@include respond-to(tablet) {
		height: 180px;
	}

	@include respond-to(mobile) {
		height: auto;
		margin-bottom: 0;
	}

	.item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		width: 25%;
		padding: 26px 25px 0;
		height: 140px;
		position: relative;
		transition: height .4s ease 0s;
		@include respond-to(tablet) {
			padding: 15px 10px 0;
		}

		@include respond-to(mobile) {
			padding: 0px;
			height: 76px;
			float: none;
			width: 100%;
			display: block;
			margin-bottom: 35px;
		}

		&:after {
			position: absolute;
			top: 100%;
			left: 0;
			content: '';
			display: block;
			width: 100%;
			height: 60px;
			opacity: 0.5;
			background: inherit;
			transition: opacity .4s ease 0s;
			z-index: 2;
			@include respond-to(mobile) {
				height: 35px;
			}

		}

		&:before {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1;
			content: '';
			width: 100%;
			@include respond-to(mobile) {
				display: block;
				background: url("#{$assets_url}/images/general/pattern123x65.png");
				height: 35px;
				top: auto;
				bottom: -35px;
				transform: none;
				background-repeat: repeat-x;
			}
		}

		&.color-orange {
			background: #e35205;
		}

		&.color-red {
			background: #d50032;
		}

		&.color-green {
			background: #007b4b;
		}

		&.color-purple {
			background: #86189d;
		}

		&:hover {
			height: 200px;
			@include respond-to(mobile) {
				height: 76px;
			}

			.sub-title {
				opacity: 0;
			}

			&:before {
				transform: translateY(0);
			}

			p {
				opacity: 1;
				transition: opacity .5s ease .4s;
			}
		}
	}

	.title {
		font-size: 36px;
		line-height: 40px;
		color: #fff;
		font-family: 'vic_bold', sans-serif;
		display: block;
		font-weight: normal;
		border-bottom: 1px solid #fff;
		padding-bottom: 8px;
		margin-bottom: 6px;

		@include respond-to(tablet) {
			font-size: 26px;
			line-height: 36px;
		}

		@include respond-to(mobile) {
			font-size: 32px;
			line-height: 78px;
			padding: 0 10px;
			margin: 0;
			border-bottom: none;
		}
	}

	.sub-title {
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		position: relative;
		z-index: 2;
		font-weight: normal;
		font-family: 'vic_medium', sans-serif;
		transition: transform .4s ease 0s, opacity .4s ease 0s;
		@include respond-to(mobile) {
			display: none;
		}
	}

	p {
		opacity: 0;
		color: #fff;
		font-size: 14px;
		line-height: 18px;
		position: absolute;
		top: 81px;
		left: 25px;
		right: 25px;
		z-index: 2;
		font-weight: normal;
		font-family: 'vic_medium', sans-serif;
		transition: transform .4s ease 0s, opacity .4s ease .0s;
		overflow: hidden;
		height: 90px;
		@include respond-to(mobile) {
			display: none;
		}
	}

}





