.promo {
	width: 100%;
	display: block;
	position: relative;
	height: 235px;
	overflow: hidden;
	@include clearfix;
	@include respond-to(tablet) {
		height: auto;
	}

	@include respond-to(mobile) {
		height: auto;
	}

	img {
		width: 100%;
		display: block;
	}
	&.honour {
		height: 390px;
		background-position: 100% 100%;
		background-repeat: no-repeat;
		background-size: cover;
		@include respond-to(mobile) {
			height: 155px;
		}
	}
	.promo-r {
		img {
			@include transform(translateY(-50%));
			top: 30%;
			position: absolute;
			right: 0;
			@media (max-width:1280px){
				@include transform(translateY(0%));
				top: 0%;
				position: relative;
			}
			@include respond-to(tablet) {
				//min-height: 100%;
				@include transform(translateY(0%));
				top: 0%;
				position: relative;
			}
			@include respond-to(mobile) {
				//min-height: 100%;
				@include transform(translateY(0%));
				top: 0%;
				position: relative;
			}
		}
	}
}

.promo-main {
	width: 100%;
	display: block;
	position: relative;
	max-height: 500px;
	overflow: hidden;
	@include clearfix;

	img {
		width: 100%;
		display: block;
	}

	.promo-text {
		transition: opacity .5s ease 1s, transform .5s ease .3s;
		@include respond-to(tablet) {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 0;
		}
		@include respond-to(mobile) {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 0;
		}
	}

	.promo-l {
		width: 49.5%;
		position: absolute;
		transition: transform 1s ease 0s, opacity .5s ease 0s;
		@include respond-to(mobile) {
			width: 59.5%;
		}

		img {
			height: auto;
			width: 100%;
			@include respond-to(mobile) {
				min-height: 100%;
				width: auto;
			}
		}

	}

	.promo-i {
		@include respond-to(tablet) {
			width: 49.5%;
		}
		@include respond-to(mobile) {
			width: 59.5%;
		}
	}

	.promo-r {
		@include respond-to(mobile) {
			display: block;
		}

		img {
			position: relative;

			@media (min-width: 1900px) {
			}
		}
	}

	.promo-logo {
		width: 520px;
		position: absolute;
		top: 124px;
		left: 0px;
		@include respond-to(tablet) {
			min-height: 0;
			width: 100%;
			left: auto;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			right: -6.5%;
		}

		@include respond-to(mobile) {
			min-height: 0;
			width: 100%;
			left: auto;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			right: -14.5%;
		}
	}
}

.promo-l {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 44%;
	height: 100%;
	opacity: 0;
	transition: transform 1s ease 0s, opacity .8s ease 0s;
	@include respond-to(tablet) {
		transform: none;
		width: 400px;
	}

	@include respond-to(mobile) {
		width: 55%;
		transform: none;
	}

	.w-load & {
		@include transform(translateX(0));
		opacity: 1;
	}

	img {
		height: 100%;
	}

}

.promo-r {
	position: relative;
	right: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.promo-i {
	z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0
}

.promo-text {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	opacity: 1;
	transition: opacity .5s ease 1s, transform .5s ease .5s;
	@include transform(translateX(-200%));
	.w-load & {
		opacity: 1;
		@include transform(translateX(0%));
	}

	@include respond-to(tablet) {
		opacity: 1
	}

	@include respond-to(mobile) {
		opacity: 1;
	}
}

.promo-title {
	font-size: 35px;
	line-height: 60px;
	color: #fff;
	font-family: 'vic_bold', sans-serif;
	font-weight: normal;
	padding-top: 36px;
	display: block;
	@include respond-to(mobile) {
		padding-top: 20px;
		font-size: 24px;
	}
}

.logo {
	width: 215px;

	img {
		width:100%;
	}
}

.promo-center {
	position: absolute;
	width: 605px;
	left: 50%;
	top: 50%;
	transform:translate(-50%, -50%);
	padding: 26px 0 33px; 
	background-color: #000000;
	@include respond-to(mobile) {
		width: auto;
		padding: 8px 32px 12px;  
		transform:translate(-50%, -50%);
	}
	p {
		padding: 5px 0;
		font-size: 75px;
		line-height: 78px;
		letter-spacing: -3.5px;
		text-transform: uppercase;
		font-family: $fontVicB;
		color: #fff;
		text-align: center;
		@include respond-to(mobile) {
			padding: 0;
			font-size: 28px;
			line-height: 33px;
			letter-spacing: 2px;
		}
		&:first-child {
			padding: 0;
			font-size: 40px;
			line-height: 44px;
			font-family: 'vic_light';
			letter-spacing: 1.5px;
			@include respond-to(mobile) {
				font-size: 15px;
				line-height: 18px;
				letter-spacing: 0px;
			}
		}
		&:last-child {
			padding: 0;
			font-size: 38px;
			line-height: 42px;
			font-family: $fontVicM;
			letter-spacing: 2px;
			@include respond-to(mobile) {
				font-size: 14px;
				line-height: 17px;
				letter-spacing: 1px;
			}
		}
	}
}



